{% extends "base.jinja" %}

{% block content %}
	<section>
		<div class="container justify-content-center">
			{% if failed_reason %}
				<div class="alert alert-danger alert-dismissible text-center">
					{% if failed_reason == "HP_EXIST" %}
						전화번호가 이미 존재합니다.
					{% elif failed_reason == "VEHICLE_ID_EXIST" %}
						차량번호가 이미 존재합니다.
					{% else %}
						차주 생성이 실패하였습니다.
					{% endif %}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}

			<h1 class="display-5 fw-bolder mb-0 py-3 pb-5 text-center">
				<span class="text-gradient d-inline">차주 목록</span>
			</h1>

			<!-- driver registration -->
			<div class="row justify-content-center">
				<div class="col-auto">
					<div class="card shadow">
						<div class="card-body">

								<form name="change-userinfo" method="POST" action="/ADMIN/drivers">
									<script> unblockSave = () => {document.getElementById("save-button").disabled = false} </script>

									<div class="form-group">
										<label class="form-label" for="name">이름</label>
										<input
											id="name" name="name" class="form-control"
											onchange="unblockSave()" required
										/>

										<label class="form-label" for="HP">전화번호</label>
										<input
											id="HP" name="HP" class="form-control"
											placeholder="010XXXXXXXX" onchange="unblockSave()" required
										/>

										<label class="form-label" for="birthday">생년월일</label>
										<input
											id="birthday" name="birthday" class="form-control"
											type="date" onchange="unblockSave()" required
										/>
									</div>

									<div class="form-group">
										<label class="form-label" for="vehicle_id">차량번호</label>
										<input
											id="vehicle_id" name="vehicle_id" class="form-control"
											onchange="unblockSave()" required
										/>

										<label class="form-label" for="vehicle_type">차종</label>
										<select
											name="vehicle_type" id="vehicle_type" class="form-control"
											onchange="unblockSave()" required
										>
											<option value="" selected disabled hidden>차종을 선택해 주세요.</option>
											<option value="TRUCK_1T">1톤</option>
											<option value="TRUCK_1_4T">1.4톤</option>
											<option value="TRUCK_2_5T">2.5톤</option>
											<option value="TRUCK_3_5T">3.5톤</option>
											<option value="TRUCK_5T">5톤</option>
											<option value="TRUCK_11T">11톤</option>
											<option value="TRUCK_18T">18톤</option>
											<option value="TRUCK_25T">25톤</option>
										</select>
									</div>

									<div class="form-group">
										<label class="form-label" for="password">암호</label>
										<input
											id="password" name="password" class="form-control" type="password"
											onchange="unblockSave()" required
										/>
									</div>

									<div class="d-flex justify-content-center my-2">
										<button type="submit" id="save-button" class="btn btn-primary mb-2" disabled>계정 추가</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>

			<div class="pb-4"></div>

			<!-- driver list -->
			<div class="card shadow">
				<div class="card-body">
					<div class="overflow-auto">

						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">
										<span class="d-none d-md-block">회원번호</span>
										<span class="d-block d-md-none">#</span>
									</th>
									<th scope="col">이름</th>
									<th scope="col">연락처</th>
									<th scope="col">차량번호</th>
								</tr>
							</thead>
							<tbody>
								{% for driver in drivers %}
									<tr onclick="location.href = '/ADMIN/users/{{ driver.id }}'">
										<th scope="row">{{ driver.id }}</th>
										<td>{{ driver.name }}</td>
										<td>{{ driver.HP }}</td>
										<td>{{ driver.vehicle_id }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

						<nav>
							<ul class="pagination justify-content-center">
								<li class="page-item {{'disabled' if page == 1 else ''}}">
									<a class="page-link" href="/ADMIN/drivers?page={{ page - 1 }}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% if page > 1 %}
									<li class="page-item"><a class="page-link" href="/ADMIN/drivers?page={{ page - 1 }}">{{ page - 1 }}</a></li>
								{% endif %}
								<li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
								{% if not is_last_page %}
									<li class="page-item"><a class="page-link" href="/ADMIN/drivers?page={{ page + 1 }}">{{ page + 1 }}</a></li>
								{% endif %}
								<li class="page-item {{'disabled' if is_last_page else ''}}">
									<a class="page-link" href="/ADMIN/drivers?page={{ page + 1 }}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
