<h3>제1조 (목적)</h3>
	<h6>서명자 이용약관(이하 “본 약관”이라 합니다)은 JH솔루션(이하 “회사”라 합니다)이 회사의 웹사이트(https://jhsolution.co.kr)에서 제공하는 전자서명 서비스(이하 “본 서비스”라 합니다)의 이용과 관련하여, 회사와 전자서명 서명자 간 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.</h6>
<div class="py-2"></div>

<h3>제2조 (용어의 정의)</h3>
	<h6>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</h6>
		<p>이용자: 본 약관에 따라 본 서비스를 이용하는 서명자를 말합니다.</p>
		<p>배차플랫폼: 화주-운송인 매칭 플랫폼을 총칭하는 단어로, 회사가 운영하는 전자서명 서비스인 JH솔루션과는 무관하게 제3자가 운영하는 서비스를 말합니다.</p>
		<p>화주: 제3가 운영하는 배차플랫폼을 통해 화물을 운송하고자 자신의 화물 정보를 온라인상에 등록하고, 화물차 정보를 탐색하는 자를 의미합니다.</p>
		<p>운송인: 제3가 운영하는 배차플랫폼을 통해 화물자동차를 사용하여 화물을 운송하는 사업자로, 자신의 화물차 정보를 온라인상에 등록하고, 화물 정보를 탐색하는 자를 의미합니다.</p>
		<p>서명요청자: JH솔루션을 통해 서명자에게 인수증 등의 문서에 대한 전자서명을 요청하는 이용자를 말합니다.</p>
		<p>서명자: JH솔루션을 통해 서명 요청자로부터 전자서명을 요청받은 인수증 등의 문서에 전자서명을 하는 이용자를 말합니다.</p>
	<h6>② 이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관련법령에서 정하는 바에 의하며, 관련 법령에서 정하지 않는 것은 일반적인 상관례에 의합니다.</h6>
<div class="py-2"></div>

<h3>제3조 (약관의 게시와 개정)</h3>
	<h6>① 회사는 이 약관의 내용과 상호, 대표자의 성명, 사업자등록번호, 연락처 등을 이용자가 알 수 있도록 서비스 초기화면에 게시하거나 기타의 방법으로 이용자에게 공지합니다.</h6>
	<h6>② 회사는 약관의 규제에 관한 법률, 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</h6>
	<h6>③ 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 개정약관의 적용일자 7일전부터 적용일자 전일까지 이용자의 이메일 주소로 공지합니다. 단 이용자의 권리, 의무에 중대한 부정적 영향을 주는 변경의 경우에는 30일 전부터 적용일자 전일까지 이메일, 로그인 시 동의 창 등의 전자적 수단 등을 활용하여 공지하도록 합니다. 이용자의 이메일 주소 변경 등으로 인하여 개별 통지가 어려운 경우 이 약관에 의한 공지를 함으로써 개별 통지한 것으로 간주합니다.</h6>
	<h6>④ 이용자는 개정된 약관에 대해 거부할 권리가 있습니다. 회사가 제3항의 공지 또는 통지를 하면서 개정 약관의 적용/시행일까지 이용자가 거부 의사를 표시하지 아니할 경우 약관의 개정에 동의한 것으로 간주한다는 내용을 고지하였으나, 이용자가 명시적으로 약관 변경에 대한 거부의사를 표시하지 아니하면, 회사는 이용자가 적용/시행일자 부로 변경 약관에 동의한 것으로 간주합니다. 개정 약관에 대하여 거부의사를 표시한 이용자에 대하여 회사는 개정 약관의 내용을 적용할 수 없으며, 이 경우 이용자는 서비스 이용 계약을 해지할 수 있습니다. 다만, 기존 약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사는 이용계약을 해지할 수 있습니다.</h6>
<div class="py-2"></div>

<h3>제4조 (약관의 해석)</h3>
	<h6>① 이용자가 회사와 개별 계약을 체결하여 서비스를 이용하는 경우 회사는 개별 서비스에 대한 이용약관 또는 운영정책 등(이하 “개별 운영정책 등”)을 둘 수 있으며, 해당 내용이 본 약관과 상충되는 경우 개별 운영정책 등이 우선합니다.</h6>
	<h6>② 이 약관에서 규정하지 않은 사항에 관해서는 약관의 규제에 관한 법률, 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등의 관계법령 또는 상관례에 따릅니다.</h6>
<div class="py-2"></div>

<h3>제5조 (약관 적용기간)</h3>
	<h6>이 약관은 이용자가 서명요청자의 전자서명 요청에 응하기 위하여 본 서비스에 접속하여 이 약관에 동의한 날로부터 (1) 서명요청자가 요청한 전자서명의 유효기간 만료일, (2) 서명요청자의 전자서명을 철회일, (3) 회사의 판단에 따라 서명요청자의 전자서명 요청을 비활성화한 날 중 먼저 도래하는 날까지 적용하는 것을 원칙으로 합니다. 단, 이 약관의 일부 조항은 해당 링크 비활성화 또는 소멸 후에도 유효하게 적용될 수 있습니다.</h6>
<div class="py-2"></div>

<h3>제6조 (이용자 정보의 제공)</h3>
	<h6>① 본 서비스를 이용하고자 하는 이용자는 이메일, 이름, 전화번호 등 정보를 제공하여야 합니다.</h6>
	<h6>② 이용자가 제1항에서 정한 정보를 제공하지 않은 경우 서비스 이용이 제한될 수 있으며, 타인의 명의를 도용하여 이용신청을 하는 등 허위의 정보를 제공한 이용자 또는 이용자는 일체의 권리를 주장할 수 없습니다.</h6>
	<h6>③ 기타 이용자 정보 제공에 관한 내용은 링크서명 서명자용 개인정보처리방침 및 전자서명 개인정보 수집 및 이용에 정한 바에 따릅니다.</h6>
<div class="py-2"></div>

<h3>제7조 (개인 정보의 보호 및 관리)</h3>
	<h6>① 회사는 관계 법령이 정하는 바에 따라 이용자의 개인정보를 보호하기 위하여 노력합니다. 이용자의 개인정보 보호 및 사용에 대해서는 회사가 별도로 고지하는 개인정보처리방침에 따릅니다. 다만, 회사가제공하는 공식 서비스 사이트 이외의 링크된 사이트에서는 회사의 개인정보처리방침이 적용되지 않습니다.</h6>
	<h6>② 회사는 이용자의 귀책사유로 인하여 노출된 이용자의 정보에 대해서는 일체의 책임을 지지 않습니다.</h6>
<div class="py-2"></div>

<h3>제8조 (이용자에 대한 통지 및 공지)</h3>
	<h6>① 회사가 이용자에 대한 개별 통지(특정 이용자의 개인적 사유를 이유로 한 통지를 의미하며, 이하 본조에서 “개별 통지”)를 하는 경우 본 약관에 별도 규정이 없는 한 이용자가 JH솔루션에 제출한 이메일 주소로 할 수 있습니다.</h6>
	<h6>② 회사는 전항의 개별 통지 이외의 공지 사항에 대하여는 7일 이상 회사의 홈페이지(배너 등 형식 불문) 또는 공지사항 게시판에 게시 함으로서 고지할 수 있습니다. 단, 본 약관에 별도의 규정이 있는 경우 그에 따릅니다.</h6>
	<h6>③ 회사가 본조의 공지 또는 개별 통지를 하면서 특정일까지 이용자가 거부 의사를 표시하지 아니할 경우 공지 또는 개별 통지 내용에 동의한 것으로 간주한다는 내용을 고지하였으나, 이용자가 명시적으로 그에 대한 거부의사를 표시하지 아니하면, 회사는 이용자가 특정일자 부로 공지 또는 개별 통지 내용에 동의한 것으로 간주합니다.</h6>
<div class="py-2"></div>

<h3>제9조 (서비스의 제공시간 및 중지)</h3>
	<h6>① 회사는 이용자가 본 약관과 전자서명 개인정보 수집 및 이용약관에 동의한 때로부터 본 서비스를 개시합니다. 단, 부득이한 경우, 회사의 필요에 따라 지정된 일자부터 서비스를 제공할 수 있습니다.</h6>
	<h6>② 회사는 서비스를 일정범위로 분할하여 각 범위 별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우 그 내용을 공지합니다.</h6>
<div class="py-2"></div>

<h3>제10조 (서비스 제공 항목)</h3>
	<h6>회사가 제공하는 서비스는 다음과 같습니다.</h6>
	<h6>제3자가 운영하는 배차플랫폼에서 운송 업무를 약속한 화주와 운송인에 관하여, JH솔루션의 전자서명 서비스를 통해 상/하차 인수증에 대한 전자서명을 지원하는 서비스 </h6>
<div class="py-2"></div>

<h3>제11조 (서비스의 면책)</h3>
	<h6>① 회사가 제공하는 서비스는 화주와 운송인이 교부하는 인수증에 대한 전자서명 서비스로 제한되고, 제3자가 운영하는 배차플랫폼을 통해 제공/협의/약속된 운송 조건 내지 정보, 또는 체결되거나 체결되었을 수 있는 구두 또는 서면 합의에 대하여 회사는 일절 개입하지 않으며, 이에 따른 책임을 지지 않습니다.</h6>
	<h6>② 운송의 관리, 요금의 결정 및 부과, 화주의 물류 운송과 관련된 권리와 책임 등은 회사가 관여하지 아니하고, 화주와 운송인이 별도로 합의한 조건에 따르며, 이와 관련한 분쟁이 발생하였을 시에도 회사는 화주와 운송인 간의 분쟁에 대한 책임을 지지 아니합니다.</h6>
<div class="py-2"></div>

<h3>제12조 (서비스의 내용 및 변경)</h3>
	<h6>① 이용자는 회사가 제공하는 본 서비스를 이 약관, 운영정책 등 회사가 정한 규칙에 따라 이용할 수 있습니다.</h6>
	<h6>② 회사가 이용자에게 제공하는 본 서비스에 대하여 회사는 제작, 변경, 유지, 보수에 관한 포괄적인 권한을 가집니다.</h6>
	<h6>③ 회사는 새로운 서비스 내용, 각종 버그 패치 등 서비스의 운영상 또는 기술상 필요한 경우, 제공하고 있는 서비스의 전부 또는 일부를 상시적으로 수정, 추가, 폐지 등 변경할 수 있습니다.</h6>
	<h6>④ 회사는 무료로 제공되는 서비스의 일부 또는 전부를 회사의 정책 기획이나 운영상 또는 회사의 긴박한 상황 등 필요에 의해 수정, 중단, 변경할 수 있으며, 이에 대하여 관련 법령상 특별한 규정이 없는 한 이용자에게 별도의 보상을 하지 않습니다.</h6>
	<h6>⑤ 회사는 다음 각호에 해당하는 경우 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다.</h6>
		<p>전시, 사변, 천재지변 또는 국가비상사태 등 불가항력적인 사유가 있는 경우</p>
		<p>정전, 제반 설비의 장애 또는 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우</p>
		<p>서비스용 설비의 보수 등 공사로 인한 부득이한 경우</p>
		<p>기타 회사의 제반 사정으로 서비스를 할 수 없는 경우</p>
	<h6>⑥ 회사는 전항의 경우 및/또는 서비스가 변경되거나 중지된 원인이 회사의 고의 또는 중대한 과실로 인한 경우를 제외하고는 서비스의 변경 및 중지로 발생하는 문제에 대해서 책임을 부담하지 않습니다.</h6>
<div class="py-2"></div>

<h3>제13조 (비활성화)</h3>
	<h6>① 이용자는 본 서비스가 제5조 등의 이유로 비활성 될 수 있음을 인지하며, 그에 따라 이용자가 전자서명한 이후에도 해당 권리관계가 성립하지 아니할 수 있음을 인지하고 동의합니다.</h6>
	<h6>② 본 서비스가 비활성 된 경우, 다음 각 호에 해당하는 경우를 제외하고, 이용자의 모든 정보는 삭제되며 복구할 수 없습니다.</h6>
		<p>서명 완료된 문서 및 관련 정보</p>
		<p>관련법령 및 회사의 개인정보 처리방침에서 정한 바에 따라 특별히 이용자와 관계된 정보를 저장해야 할 때</p>
<div class="py-2"></div>

<h3>제14조 (이용제한 등)</h3>
	<h6>① 회사는 이용자가 본 약관의 의무, 회사의 운영정책 등을 위반하거나 서비스의 정상적인 운영을 방해한 것으로 볼 상당한 이유가 있는 경우, 서비스 이용을 경고, 일시정지, 계약해지로 제한할 수 있습니다. 이러한 서비스 이용 제한에 따른 손해에 대하여 회사는 별도로 보상하지 않습니다.</h6>
	<h6>② 회사는 제1항의 규정에도 불구하고, 주민등록법을 위반한 명의도용 및 결제도용, 저작권법 및 컴퓨터프로그램보호법을 위반한 불법프로그램의 제공 및 운영방해, 정보통신망 이용촉진 및 정보보호 등에 관한 법률을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위, 타인의 개인정보 부당 수령, 위법행위 수행에 이용 등과 같이 관련법령 위반, 미풍양속 위반의 경우에는 즉시 계약을 해지할 수 있습니다. 이에 따라 서비스 이용을 통해 획득한 혜택 등은 모두 소멸되며, 회사는 이에 대해 별도로 보상하지 않습니다.</h6>
	<h6>③ 회사가 위 제1항에 따라 이용자의 서비스 이용을 제한하는 경우, 제한의 조건 및 세부내용은 이용제한정책 등에서 정한 바에 따르며, 회사는 본 약관에서 정한 방법으로 통지합니다.</h6>
	<h6>④ 이용자는 회사의 이용제한 조치 등에 대하여 회사가 정한 절차에 따라 이의신청을 할 수 있습니다. 이용자의 이의 사유가 정당하다고 인정되는 경우 회사는 즉시 이용자의 서비스 이용을 재개하여야 합니다. 단, 이 경우에도 이용 제한으로 발생한 손해에 대하여 회사는 별도로 보상하지 않습니다.</h6>
<div class="py-2"></div>

<h3>제15조 (남용금지)</h3>
	<h6>회사는 고의 또는 악의로 서명요청 작업과 부가서비스를 반복 사용하여 회사의 운영에 피해를 끼치는 이용자의 사용을 중단(이용 정지 또는 계약 해지)시킬 수 있으며, 이에 대하여 이용자에게 별도의 보상을 하지 않습니다.</h6>
<div class="py-2"></div>

<h3>제16조 (서비스 내용 변경)</h3>
	<h6>회사는 운영상, 기술상의 필요에 따라 공급하는 본 서비스 내용(가액, 제공 서비스 내역 등)을 변경할 수 있으며, 해당 내용이 이용자에게 불리한 경우 본 약관에서 정한 방법에 따라 이용자에게 사전 공지합니다.</h6>
<div class="py-2"></div>

<h3>제17조 (최소 사용 환경)</h3>
	<h6>① 이용자는 아래 각 호에 해당하는 최소 사용 환경에서 서비스를 이용해야 합니다.</h6>
		<p>운영체제: Mac(Mavericks 이상), Windows7 이상</p>
		<p>브라우저: Edge(16 이상), Chrome(61 이상), Safari(11 이상) Opera(48 이상), Firefox(60 이상)</p>
		<p>쿠키: 모든 쿠키 허용</p>
	<h6>② 최소 사용 환경을 충족하지 못하는 환경에서 서비스를 이용할 경우, 이와 발생하는 문제에 대해 회사는 책임지지 않습니다.</h6>
<div class="py-2"></div>

<h3>제18조 (회사의 의무)</h3>
	<h6>① 회사는 본 약관 및 관련법령에서 금지하는 행위 및 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적인 서비스의 제공을 위하여 최선을 다하여 노력합니다.</h6>
	<h6>② 회사는 이용자가 안전하게 서비스를 이용할 수 있도록 신용정보를 포함한 일체의 개인정보 보호를 위한 보안시스템을 갖추어야 하며 개인정보처리방침을 공시하고 준수합니다.</h6>
	<h6>③ 회사는 이용자로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 합리적인 기간 내에 신속하게 처리하여야 합니다. 다만, 처리에 장기간이 소요되는 경우 이용자에게 게시판 또는 이메일 등을 통하여 지체 사유를 안내하고 처리과정 및 처리결과를 전달합니다.</h6>
	<h6>④ 회사는 이용계약의 체결, 계약사항의 변경 및 해지 등 이용자와의 계약관련 절차 및 내용 등에 있어 이용자에게 편의를 제공하도록 노력합니다.</h6>
<div class="py-2"></div>

<h3>제19조 (이용자의 의무)</h3>
	<h6>① 이용자는 회사에서 제공하는 서비스를 본래의 이용 목적 이외의 용도로 사용하거나 다음 각 호에 해당하는 행위를 해서는 안 됩니다.</h6>
		<p>본 서비스 이용 또는 정보 변경을 목적으로 개인정보 제공 시 실명이 아닌 정보 또는 다른 사람의 정보를 사용하거나 허위 사실을 기재하는 행위</p>
		<p>타인으로 가장하거나 타인과의 관계를 허위로 명시하는 행위</p>
		<p>버그를 악용하여 서비스를 이용하는 행위</p>
		<p>회사 및/또는 제3자(서명요청자 포함, 이하 동일)의 명예를 훼손하거나 업무를 방해하거나 회사 및/또는 제3자에게 손해를 가하는 행위</p>
		<p>회사의 지식재산권, 제3자의 지식재산권, 초상권 등 기타 권리를 침해하거나 회사의 승인을 받지 않고 다른 이용자의 개인정보를 수집, 저장, 유포, 게시하는 행위</p>
		<p>제3자를 기망하여 이득을 취하거나 회사가 제공하는 서비스를 불건전하게 이용하거나 하여 제3자에게 피해를 주는 행위</p>
		<p>회사로부터 특별한 권리를 부여받지 않고 사이트를 변경하거나 사이트에 다른 프로그램을 추가 또는 삽입하거나 서버를 해킹, 역설계, 소스코드의 유출 및 변경, 별도의 서버를 구축하거나 웹사이트의 일부분을 임의로 변경 또는 도용하여 회사를 사칭하는 행위</p>
		<p>회사의 직원이나 운영자를 가장, 사칭하거나 또는 타인의 명의를 도용하여 문서를 등록하거나 메일을 발송하는 행위</p>
		<p>회사의 동의 없이 영리, 영업, 광고, 정치활동, 불법선거운동 등을 목적으로 서비스를 이용하는 행위</p>
		<p>기타 공공질서 및 미풍양속을 위반하거나 불법적, 부당한 행위 및 법령에 위배되는 행위 및 그에 수반되는 제반 행위</p>
	<h6>② 이용자는 회사 홈페이지 상의 공지사항 및 이용약관의 수정사항 등을 확인하고 이를 준수할 의무가 있으며 기타 회사의 업무에 방해되는 행위를 하여서는 안 됩니다.</h6>
	<h6>③ 이용자의 계정에 관한 관리 책임은 이용자에게 있으며, 이를 제3자가 이용하도록 하여서는 안 됩니다.</h6>
	<h6>④ 회사는 제1항, 제2항 및 다음 각 호의 어느 하나에 해당하는 행위의 구체적인 유형을 운영 정책에서 정할 수 있으며, 이용자는 이를 준수할 의무가 있습니다.</h6>
		<p>요금정책</p>
		<p>이용 계약 승낙 정책</p>
		<p>서비스를 활용한 불법행위 또는 그에 수반되는 행위 금지를 위한 제반 정책</p>
		<p>기타 이용자의 서비스 이용에 대한 본질적인 권리를 침해하지 않는 범위 내에서 회사가 운영상 필요하다고 인정하는 사항</p>
<div class="py-2"></div>

<h3>제20조 (손해배상)</h3>
	<h6>① 회사가 제공하는 유료서비스의 하자 등에 의하여 이용자에게 피해가 발생한 경우, 이용자에 대한 피해보상의 기준, 범위, 방법 및 절차에 관한 사항은 콘텐츠이용자보호지침에 따릅니다.</h6>
	<h6>② 이용자가 본 약관의 의무를 위반함으로 인하여 회사에 손해를 입힌 경우 또는 이용자가 서비스의 이용과 관련하여 회사에 손해를 입힌 경우 이용자는 회사에 대하여 손해를 배상하여야 합니다.</h6>
	<h6>③ 이용자가 서비스를 이용함에 있어 행한 불법행위 또는 본 약관을 위반한 행위로 회사가 당해 이용자 외의 제3자로부터 손해배상청구 또는 소송 등 각종 이의제기를 받는 경우 당해 이용자는 자신의 책임과 비용으로 회사를 면책시켜야 하며, 회사가 면책되지 못한 경우 당해 이용자는 그로 인하여 회사에 발생한 모든 손해를 배상할 책임이 있습니다.</h6>
<div class="py-2"></div>

<h3>제21조 (책임의 한계)</h3>
	<h6>① 회사는 천재지변 또는 국가 정책 등 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.</h6>
	<h6>② 회사는 이용자의 귀책사유로 인한 서비스 중지 또는 이용의 장애, 기간통신사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 이용자에게 손해가 발생한 경우에는 책임이 면제됩니다.</h6>
	<h6>③ 회사는 이용자가 서비스와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.</h6>
	<h6>④ 회사는 이용자 간 또는 이용자와 제3자 상호간에 서비스를 매개로 하여 거래 등을 한 경우 관련 책임으로부터 면제됩니다.</h6>
	<h6>⑤ 회사는 무료로 제공되는 서비스 이용과 관련하여 관련법령에 특별한 규정이 없는 한 책임을 지지 않습니다.</h6>
<div class="py-2"></div>

<h3>제22조 (준거법 및 재판관할)</h3>
	<h6>① 회사와 이용자 간 제기된 소송은 대한민국법을 준거법으로 합니다.</h6>
	<h6>② 회사와 이용자간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.</h6>
<div class="py-2"></div>

<h6>공고일자 : 2024. 04. 01</h6>
<h6>시행일자 : 2024. 04. 08</h6>
