<h6>서명 요청자는 회원가입, 서명자는 전자서명을 진행하며 "동의하고 서명 완료" 버튼을 누름으로써 아래 내용에 대해 동의한 것으로 봅니다.</h6>
<div class="py-2"></div>

<h3>1. 용어 정리</h3>
	<h6>① 서비스: 클라우드 기반 간편 전자계약 서비스 JH솔루션을 말합니다. (URL: https://jhsolution.co.kr)</h6>
	<h6>② 회사: 본 서비스를 운영하는 JH솔루션을 말합니다.</h6>
	<h6>③ 민간인증서: 카카오 인증서, 네이버 인증서, PASS 등 민간 인증서 사업자가 제공하는 인증서를 말합니다.</h6>
	<h6>④ 이용자: 서비스를 이용하는 회원 또는 비회원을 말합니다.</h6>
	<h6>⑤ 회원: 서비스에 접속하여 이용약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 자를 말합니다.</h6>
	<h6>⑥ 비회원: 서비스에 가입하지 않고 서비스가 제공하는 정보 및 서비스를 이용하는 자를 말합니다.</h6>
	<h6>⑦ 서명 요청자: 서명자에게 문서에 대한 전자서명을 요청하는 회원을 말합니다.</h6>
	<h6>⑧ 서명자: 서명 요청자로부터 문서에 서명을 요청받거나 서명을 하는 이용자를 말합니다.</h6>
<div class="py-2"></div>

<h3>2. 전자문서의 법적 효력</h3>
	<h6>① 전자서명에 사용되는 전자문서는 전자문서및전자거래기본법 제4조 제1항에 의해 전자적 형태로 되어 있다는 이유로 문서로서의 효력이 부인되지 않습니다.</h6>
	<h6>② 다른 법령에 특별한 규정이 있을 경우 전자문서의 법적 효력이 인정되지 않을 수 있습니다.</h6>
	<h6>③ 서명 요청자는 전자서명에 사용하는 전자문서가 다른 법령의 특별한 규정에 의해 법적 효력이 인정되지 않는지 확인하고 서명을 요청해야 합니다. 만약 해당 사실을 인지하지 못해 문제가 발생할 경우 회사는 책임지지 않습니다.</h6>
	<h6>④ 서명자는 전자서명에 사용하는 전자문서가 관련 법령의 특별한 규정에 의해 법적 효력이 인정되지 않는지 확인하고 서명해야 합니다. 만약 해당 사실을 인지하지 못해 문제가 발생할 경우 회사는 책임지지 않습니다.</h6>
<div class="py-2"></div>

<h3>3. 전자서명의 법적 효력</h3>
	<h6>① 서비스에 사용되는 전자서명은 반드시 서명자의 동의가 있어야 가능하며, 당사자간의 약정에 따라 민간인증서를 이용한 서명을 함으로서 효력을 가집니다.</h6>
	<h6>② 서비스에 사용되는 전자서명은 다른 법령에 특별한 규정이 있을 경우 서명의 법적 효력이 인정되지 않을 수 있습니다.</h6>
	<h6>③ 서명 요청자는 서비스에 사용되는 전자서명이 법령에 의해 법적 효력이 인정되지 않는지 확인하고 서명을 요청해야 합니다. 만약 해당 사실을 인지하지 못해 문제가 발생할 경우 회사는 책임지지 않습니다.</h6>
	<h6>④ 서명자는 서비스에 사용되는 전자서명이 법령에 의해 법적 효력이 인정되지 않는지 확인하고 서명해야 합니다. 만약 해당 사실을 인지하지 못해 문제가 발생할 경우 회사는 책임지지 않습니다.</h6>
<div class="py-2"></div>

<h3>4. 원본 문서의 효력</h3>
	<h6>서명 요청자 및 서명자는 다음 문서를 사본이 아닌 원본 문서로 인정합니다.</h6>
	<h6>① 모든 서명자가 서명을 완료했을 때 이메일 또는 카카오 알림톡 또는 LMS로 전송되는 문서와 해당 문서의 출력본</h6>
	<h6>② 모든 서명자가 서명을 완료했을 때 서비스에서 확인할 수 있는 문서와 해당 문서의 출력본</h6>
<div class="py-2"></div>

<h3>5. 당사자 확인의 의무</h3>
	<h6>① 서명 요청자는 서명자 실명, 본인 소유 이메일, 휴대폰 전화번호 여부를 확인을 하고 서명을 요청해야합니다.</h6>
	<h6>② 서명 요청자는 이메일, 휴대폰 본인 인증, 접근 암호 인증 등과 같은 본인인증 수단을 통해 본인 확인을 할 수 있습니다.</h6>
	<h6>③ 서명 요청자 및 서명자는 모든 서명자가 정당한 권한(본인, 대리인 등)을 가진 자임을 확인해야 합니다.</h6>
	<h6>④ 회사는 정당한 권한이 없는 서명 요청자나 서명자와 서명을 함으로 인해 발생한 문제에 대해 책임지지 않습니다.</h6>
<div class="py-2"></div>

<h3>6. 이메일 계정 및 휴대폰 번호 유지의 의무</h3>
	<h6>전자서명과 관련된 내용이 서명자의 이메일 또는 휴대폰 번호(카카오 알림톡, LMS)로 전송될 수 있습니다. 따라서, 서명 요청자 및 서명자는 전자서명과 관련된 내용을 수신할 수 있는 상황을 유지해야 되며, 회사는 메일 삭제, 휴대폰 번호 변경, 수신 거부 등 서명자의 귀책사유로 전자서명과 관련된 내용이 전송되지 않아 발생하는 문제에 대해 책임지지 않습니다.</h6>
<div class="py-2"></div>

<h3>7. 문서 보안의 의무</h3>
	<h6>서명 요청자 및 서명자는 상호 동의 없이 이메일, 공유 등으로 링크, 문서, 감사 추적 인증서 등 서명 진행과 관련된 사항을 유출해서는 안 됩니다.</h6>
<div class="py-2"></div>

<h3>8. 문서 저장</h3>
	<h6>서명 진행 사항 및 문서는 서버에 저장되며, 회원은 언제 어디서나 서비스에 접속해 문서 내용을 확인할 수 있습니다.</h6>
<div class="py-2"></div>

<h3>9. 계약수정, 서명 거절 및 취소 방법</h3>
	<h6>① 서명자는 모든 서명자가 서명을 완료하기 전까지 특정 서명자 본인의 입력값에 대한 수정을 요청할 수 있습니다. 수정 시 이미 서명을 완료한 서명자에게는 수정 내용에 대한 확인 및 재서명이 요청되며, 재서명이 이루어지지 아니한 경우에는 기존 계약 및 수정 계약의 체결이 완료되지 않을 수 있습니다.</h6>
	<h6>② 서명 요청자 및 서명자는 모든 서명자가 서명을 완료하기 전까지 거절 또는 취소를 통해 서명 진행을 중단할 수 있습니다.</h6>
<div class="py-2"></div>

<h3>10. 최소 사용 환경</h3>
	<h6>사용자는 아래의 최소 사용 환경하에 서명을 진행해야 합니다. 최소 사용 환경을 충족하지 못하는 환경에서 서명을 진행할 경우 이와 발생하는 문제에 대해 회사는 책임지지 않습니다.</h6>
	<h6>① 운영체제: Mac(Mavericks 이상), Windows7 이상</h6>
	<h6>② 브라우저: Edge(16 이상), Chrome(61 이상), Safari(11 이상), Opera(48 이상), Firefox(60 이상)</h6>
	<h6>③ 쿠키: 모든 쿠키 허용</h6>
<div class="py-2"></div>

<h3>11. 준거법</h3>
	<h6>전자서명 진행 및 법적 효력과 관련된 사항은 대한민국 법률의 적용을 받고 그에 따라 해석됩니다.</h6>
<div class="py-2"></div>

<h3>12. 회사의 의무</h3>
	<h6>회사는 쾌적한 환경속에 서비스 이용할 수 있도록 최선을 다합니다.</h6>
	<h6>본 약관에 따라 정상적인 방법으로 전자서명을 했음에도 당사자 확인 문제 등 법적 분쟁이 발생할 경우, 회사는 재판에 증거로 사용할 감사 로그를 제출하는 등 분쟁이 원활하게 해결될 수 있도록 최선을 다하여 협조합니다.</h6>
<div class="py-2"></div>

<h6>공고일자 : 2024. 04. 01</h6>
<h6>시행일자 : 2024. 04. 08</h6>
